<script>
    var ele = document.getElementsByTagName('input')
    var ele2 = document.getElementsByTagName('textarea')

    // for (var i = 0; i < ele.length; i++) {
    //     if (ele[i].className == '' && ele[i].getAttribute('type') != 'checkbox') {
    //         ele[i].setAttribute('class', 'form-control col')
    //     }
    //     if (ele[i].className == 'self.fields[f.name].') {
    //         ele[i].setAttribute('type', 'time')
    //     }
    // }
    for (var i = 0; i < ele2.length; i++) {
        if (ele2[i].className == '' && ele2[i].getAttribute('type') != 'checkbox') {
            ele2[i].setAttribute('class', 'form-control input col')
            ele2[i].parentElement.setAttribute('class', 'col-md-12 ')
        }
        if (ele2[i].className == 'vTimeField') {
            ele2[i].setAttribute('type', 'time')
        }
    }
    var sel = document.getElementsByTagName('select')
    for (var i = 0; i < sel.length; i++) {
        if (sel[i].className == '') {
            sel[i].setAttribute('class', 'input js-input-tags ')
            sel[i].setAttribute('searchable', 'Search here..')
            sel[i].parentElement.setAttribute('class', 'col-md-6')
        }
    }
    var ele = document.getElementsByTagName('input')
    for (var i = 0; i < ele.length; i++) {
        if (ele[i].className == '' && ele[i].getAttribute('type') != 'checkbox' && ele[i].getAttribute('type') !=
            'hidden') {
            ele[i].setAttribute('class', 'form-control input ')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
        if (ele[i].className == 'vTimeField') {
            ele[i].setAttribute('type', 'time')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
        if (ele[i].className == 'vDateField') {
            ele[i].setAttribute('type', 'date')
            ele[i].setAttribute('class', 'form-control')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
        if (ele[i].className == 'vDateTime') {
            ele[i].setAttribute('value', ele[i].value.replace(" ", "T"))
            ele[i].setAttribute('type', 'datetime-local')
            ele[i].setAttribute('class', 'form-control')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
    }
</script>
<script>
    var ele = document.getElementsByTagName('input')
    var ele2 = document.getElementsByTagName('textarea')

    // for (var i = 0; i < ele.length; i++) {
    //     if (ele[i].className == '' && ele[i].getAttribute('type') != 'checkbox') {
    //         ele[i].setAttribute('class', 'form-control col')
    //     }
    //     if (ele[i].className == 'self.fields[f.name].') {
    //         ele[i].setAttribute('type', 'time')
    //     }
    // }
    for (var i = 0; i < ele2.length; i++) {
        if (ele2[i].className == '' && ele2[i].getAttribute('type') != 'checkbox') {
            ele2[i].setAttribute('class', 'form-control input col')
            ele2[i].parentElement.setAttribute('class', 'col-md-12 ')
        }
        if (ele2[i].className == 'vTimeField') {
            ele2[i].setAttribute('type', 'time')
        }
    }
    var sel = document.getElementsByTagName('select')
    for (var i = 0; i < sel.length; i++) {
        if (sel[i].className == '') {
            sel[i].setAttribute('class', 'input js-input-tags ')
            sel[i].setAttribute('searchable', 'Search here..')
            sel[i].parentElement.setAttribute('class', 'col-md-6')
        }
    }
    var ele = document.getElementsByTagName('input')
    for (var i = 0; i < ele.length; i++) {
        if (ele[i].className == '' && ele[i].getAttribute('type') != 'checkbox' && ele[i].getAttribute('type') !=
            'hidden') {
            ele[i].setAttribute('class', 'form-control input ')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
        if (ele[i].className == 'vTimeField') {
            ele[i].setAttribute('type', 'time')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
        if (ele[i].className == 'vDateField') {
            ele[i].setAttribute('type', 'date')
            ele[i].setAttribute('class', 'form-control')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
        if (ele[i].className == 'vDateTime') {
            ele[i].setAttribute('value', ele[i].value.replace(" ", "T"))
            ele[i].setAttribute('type', 'datetime-local')
            ele[i].setAttribute('class', 'form-control')
            ele[i].parentElement.setAttribute('class', 'col-md-6')
        }
    }
</script>