{% extends 'superuser2/basic.html' %}
{% load custumfilter %}
{% load static %}
{% block body %}
<style>
  .related-widget-wrapper {
    width: 100%;
    padding: 0px 18px 0 18px;
  }
</style>
{% comment %}
<!-- <div class="card card-primary ">
  <div class="card-header  bg-primary text-light">
    <h3 class="card-title">Edit </h3>
  </div>
  <div class="card-body ">
    <div class=" shadow-lg p-3 mb-5 bg-white rounded">
      <form method="post" class="row" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <div class="col-md-12">
        <input type="submit" class="btn btn-primary my-3" />
        {% if form.instance %}
        <a tabindex="0" class="btn btn-danger " role="button" data-toggle="popover" data-trigger="focus"
          data-html="true" title="" data-content="
                                <h6>Are you sure to delete this?</h6>
                                <form method='get' action='{% url 'editdatamodel' appname modelname form.instance.pk 'delete' %}'>
                                <br>
                                    <input type='submit' class='btn btn-danger btn-xs' value='Yes,Please'>
                                    </form>
                                " data-original-title="">
          <i class="ti-trash"></i>Delete
        </a>{% endif %}</div>
      </form>
      <div class='row container'>
        {% for data in relateddata %}
        {% if data.related_name is not None %}

        <a href="{% url 'relatedmodel' appname=appname modelname=modelname objectid=objectid relatedfield=data.related_name %}"
          class="btn btn-primary {% if forloop.counter > 1 %}mx-2{% endif %}">{% if  "onetoonerel" in data|slugify %}View
          {{data.related_name}}s{% else %}Available {{data.related_name}}s{% endif %}</a>
        {% if showrelated %}
        <div>
          {{data|showrelated:objectid}}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

</div> -->
{% endcomment %}
<div class="container">
  <div class="page-header">
    <h1 class="page-header__title">Add {{modelname|title}}</h1>
  </div>
  <div class="page-tools">
    <div class="page-tools__breadcrumbs">
      <div class="breadcrumbs">
        <div class="breadcrumbs__container">
          <ol class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index-2.html">
                <svg class="icon-icon-home breadcrumbs__icon">
                  <use xlink:href="#icon-home"></use>
                </svg>
                <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                  <use xlink:href="#icon-keyboard-right"></use>
                </svg>
              </a>
            </li>
            <li class="breadcrumbs__item "><a class="breadcrumbs__link"
                href="{% if appname and modelname %}{% url 'showapp' appname  %}{% endif %}"><span>{{appname|title}}{{dashboardheading}}</span>
                <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                  <use xlink:href="#icon-keyboard-right"></use>
                </svg></a>
            </li>
            <li class="breadcrumbs__item "><span class="breadcrumbs__link">{{modelname|title}}</span>
            </li>
            <li class="breadcrumbs__item "><a class="breadcrumbs__link"
                href="{% if appname and modelname %}{% url 'showapp' appname  %}{% endif %}">
                <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                  <use xlink:href="#icon-keyboard-right"></use>
                </svg></a>
            </li>
            <li class="breadcrumbs__item active"><span class="breadcrumbs__link">{{form.instance}}</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="page-tools__right">
      <div class="page-tools__right-row">
        <div class="page-tools__right-item"><a class="button-icon"
            href="{% url 'exportexcel' appname modelname 'excel' %}"><span class="button-icon__icon">
              <svg class="icon-icon-print">
                <use xlink:href="#icon-print"></use>
              </svg></span></a>
        </div>
        <div class="page-tools__right-item"><a class="button-icon" href="#"><span class="button-icon__icon">
              <svg class="icon-icon-import">
                <use xlink:href="#icon-import"></use>
              </svg></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="card add-product card--content-center">
    <div class="card__wrapper">
      <div class="card__container">
        <form class="add-product__form"  method="post" enctype="multipart/form-data">
          <div class="">
            <div class="">
              <div class="row row--md">
                <div class="card-body ">
                  <div class="">
                    <div class="row" >
                      {% csrf_token %}
                      {{form.media}}
                      {{form.as_p}}
                      
                    </div>
                    <div class='row container'>
                      {% for data in relateddata %}
                      {% if data.related_name is not None %}
              
                      <a href="{% url 'relatedmodel' appname=appname modelname=modelname objectid=objectid relatedfield=data.related_name %}"
                        class="btn btn-primary {% if forloop.counter > 1 %}mx-2{% endif %}">{% if  "onetoonerel" in data|slugify %}View
                        {{data.related_name}}s{% else %}Available {{data.related_name}}s{% endif %}</a>
                      {% if showrelated %}
                      <div>
                        {{data|showrelated:objectid}}
                      </div>
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="add-product__submit mt-5">
                <div class="modal__footer-button">
                  <button class="button button--primary button--block" type="submit"><span class="button__text">Create</span>
                  </button>
                </div>
              {% if form.instance.pk %}
              <a tabindex="0" class="button bg-danger text-light button--block " href="{% url 'editdatamodel' appname modelname form.instance.pk 'delete' %}"
                data-html="true">
                <i class="ti-trash"></i>Delete
              </a>{% endif %}</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block exscript %}
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>


<script type="text/javascript" src="{% static 'select/js/mdb.min.js' %}"></script>
<script type="text/javascript">
  { // Material Select Initialization
    $(document).ready(function () {
      $('.mdb-select').materialSelect();
    });
  }
</script>
{%  endblock %}
{% block exstyle %}
<link rel="stylesheet" href="{% static 'select/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'select/css/mdb.min.css' %}">

{%  endblock %}