{% load custumfilter %}
<style>

tbody>tr.selected td {
    color: white!important;
}
    html[data-theme=dark] tr{
    background-color: black!important;
}
tbody>tr.selected {
    background-color: #244e93!important;
}
</style>
<div class="toolbox">
    <div class="toolbox__row row gutter-bottom-xs">
        <div class="toolbox__left col-12 col-lg">
            <div class="toolbox__left-row row row--xs gutter-bottom-xs">
                <div class="form-group form-group--inline col-12 col-sm-auto">
                    <label class="form-label">Show</label>
                    <div class="input-group input-group--white input-group--append">
                        <input class="input input--select" id="datatableselect" type="text" value="10" size="1"
                            data-toggle="dropdown" readonly><span class="input-group__arrow">
                            <svg class="icon-icon-keyboard-down">
                                <use xlink:href="#icon-keyboard-down"></use>
                            </svg></span>
                        <div
                            class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                            <a class="dropdown-menu__item active" href="#" tabindex="0"
                                data-value="10">10</a><a class="dropdown-menu__item" href="#"
                                tabindex="0" data-value="15">15</a><a class="dropdown-menu__item"
                                href="#" tabindex="0" data-value="20">20</a>
                            <a class="dropdown-menu__item" href="#" tabindex="0"
                                data-value="25">25</a><a class="dropdown-menu__item" href="#"
                                tabindex="0" data-value="50">50</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group form-group--inline col col-sm-auto">
                    <div class="input-group input-group--white input-group--append">
                        <select class="input js-input-select" data-placeholder="">
                            <option value="1" selected="selected">All Categories
                            </option>
                            <option value="2">MacBook
                            </option>
                            <option value="3">Apple Watch
                            </option>
                            <option value="4">AirPods
                            </option>
                            <option value="5">iPhone
                            </option>
                            <option value="6">IPad
                            </option>
                        </select><span class="input-group__arrow">
                            <svg class="icon-icon-keyboard-down">
                                <use xlink:href="#icon-keyboard-down"></use>
                            </svg></span>
                    </div>
                </div>
                <div class="form-group form-group--inline col-12 col-sm-auto d-none d-sm-block">
                    <div class="toolbox__status input-group input-group--white input-group--append">
                        <input class="input input--select" type="text" value="All status"
                            data-toggle="dropdown" readonly><span class="input-group__arrow">
                            <svg class="icon-icon-keyboard-down">
                                <use xlink:href="#icon-keyboard-down"></use>
                            </svg></span>
                        <div
                            class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                            <a class="dropdown-menu__item active" href="#" tabindex="0"
                                data-value="All status"><span class="marker-item"></span> All status</a>
                            <a class="dropdown-menu__item" href="#" tabindex="0"
                                data-value="Published"><span class="marker-item color-green"></span>
                                Published</a><a class="dropdown-menu__item" href="#" tabindex="0"
                                data-value="Deleted"><span class="marker-item color-red"></span>
                                Deleted</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="toolbox__right col-12 col-lg-auto">
            <div class="toolbox__right-row row row--xs flex-nowrap">
                <div class="col col-lg-auto">
                    <form class="toolbox__search" method="GET">
                        <div class="input-group input-group--white input-group--prepend">
                            <div class="input-group__prepend">
                                <svg class="icon-icon-search">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </div>
                            <input class="input" type="text" id="datatablesearch" placeholder="Search {{modelname}}">
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <a class="button-add button-add--blue" href="{% url 'editdatamodel' appname modelname 'newmodel' 'add' %}"><span
                            class="button-add__icon">
                            <svg class="icon-icon-plus">
                                <use xlink:href="#icon-plus"></use>
                            </svg></span><span class="button-add__text"></span>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
<table class=" hover  "  style="width:100%" style="width: 100%;">
    <thead class="table__header">
        <tr class="table__header-row">
            {% for data,type in fields|slice:":5" %}
            <th>{{data|title}}</th>
            {% endfor %}
            <th>edit</th>
        </tr>
    </thead>
    <tbody>
        {% for data in modeldata %}

        <tr class="table__row">
            {% for field,type in fields|slice:":5" %}
            {% if "ImageField" in type %}
            <td class="table__td"> <img src="/media/{{data|getattribute:field|slice:':25'}}" style="max-height:100px;"></td>
            {% else %}
            <td class="table__td">{{data|getattribute:field|slice:':25'}}</td>
            {% endif %}
            {% endfor %}
            <td class="table__td"><a class="btn btn-primary btn-xs mb-3 mr-1"
                    href="{% url 'editdatamodel' appname modelname data.pk 'edit' %}?next={{request.get_full_path}}"><i
                        class="ti-pencil"></i></a>
                <a tabindex="0" href="{% url 'editdatamodel' appname modelname data.pk 'delete' %}" class="btn btn-danger btn-xs mb-3 mr-1" role="button" data-toggle="popover"
                    data-trigger="focus" data-html="true" title="" data-original-title="">
                    <i class="ti-trash"></i>
                </a>

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>