{% extends 'basic.html' %}
{% load static %}
{% load customfilter %}
{% block title%}About{% endblock title%}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
  #tit{
    font-size: 27px!important;
  } 
  h1{
    font-size: 15px!important;
  } 
  .content{
    font-size: 17px!important;
  } 
  p{
    font-size: 15px!important;
  } 
  p span{
    font-size: 17px!important;
  }  
   p big span{
    font-size: 15px!important;
  } 
</style>
 <div class="page">
   <div class="banner">
      <div class="container">
         <div class="left-side-content">
             <h1 id='tit'>Book Appointment With Tax & Compliance Expert</h1>
          <p class="content">No geographical barriers to start & manage your business</p>
         </div>
      </div>
   </div>
    {% comment %} <div class="section-heading center-holder mt">
      <h2>Online Directory of Tax/Compliance Experts
      </h2>
      <div class="section-heading-line"></div>
      <br>
    </div>
    <div class="container">
      <div class="row second">
        {% for regs in Registrations %}
        {% for d in regs.RegistrationSubMenu.all %}
        {% if 5 > forloop.counter  %}
        <div class="col-md-3">
          <div class="area">
          <a href="{% url 'registration' slug1=regs.slug slug2=d.slug %}">
            <h1><i class="fa {{ d.submenu|geticon }}" style="color: #e77b20;"></i></h1>
            <h3>{{d.submenu}}</h3></a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <div class="col-md-12 mb-5" style="text-align: center;margin-top: 50px;">
          <a class="primary-button button-md" style="background: #e77b20;">See all category
          </a>
        </div>
        <br><br>
      </div>
    </div> {% endcomment %}
    {% for con in content %}
    <div class="third">
      <div class="container">
        <div class="section-heading row ">
          <div >

          <h2 class="pt-3">{{con.title|title}}</h2>
          <div class="section-heading-line"></div>
          <br>
        </div>
        <div>
            {{con.content|safe}}
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
        
    <div class="third">
      <div class="container">
        <div class="section-heading">
          <h2 class="pt-3">Online service marketplace</h2>
          <div class="section-heading-line"></div>
          <br>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="area">
              <h1><i class="fa fa-userfa fa-user-secret" style="color: #e77b20;"></i></h1>
              <h2>Expert Profiles</h2>
              <p>All the experts have a profile which is visible to the client, As a service receiver, you
                get to the location and the detailed.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="area">
              <h1><i class="fa fa-id-card" style="color: #e77b20;"></i></h1>
              <h2>Book Appointment</h2>
              <p>Contact a service provider on the basis of location or category of services. It’s quick
                and convenient.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="area">
              <h1><i class="fa fa-book" style="color: #e77b20;"></i></h1>
              <h2>Informative blogs</h2>
              <p>We regularly update you with interesting, useful news, notification in Indian and Global
                economy.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="area">
              <h1><i class="fa fa-check-circle" style="color: #e77b20;"></i></h1>
              <h2>Secure Payment</h2>
              <p>This platform will also have an option of safe gateway payment as per your arrangement
                with client.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fourth">
      <div class="container">
        <div class="section-heading">
          <h2 class="pt-3">Online service marketplace</h2>
          <div class="section-heading-line"></div>
          <br>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="area">
                  <h1><i class="fa fa-hand-pointer-o" style="color: #e77b20;"></i></h1>
                  <h2>Convenience</h2>
                  <p>Having serve the clients since 2012, We understand your needs therefore we will
                    give you the best experience throughout</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="area">
                  <h1><i class="fa fa-support" style="color: #e77b20;"></i></h1>
                  <h2>Support</h2>
                  <p>For both the service providers & service receivers, We are always available to
                    you through Chat, Email, Call or social media</p>
                </div>
              </div>
            </div>
          </div>
         
          <div class="col-lg-6 col-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="area">
                  <h1><i class="fa fa-child" style="color: #e77b20;"></i></h1>
                  <h2>Experience</h2>
                  <p>This is our first priority as it means everything that any user want to have
                    while using online service facility.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="area">
                  <h1><i class="fa fa-check-square" style="color: #e77b20;"></i></h1>
                  <h2>Safety</h2>
                  <p>Poor safety will lead to losing people, we very well understand this fact. Should
                    there be NDA? Anytime!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fifth">
      <section class="intro-area bg-gray" style="background: #e77b20;">
        <div class="">
          <div class="row">
            <div class="col-xl-12">
              <div class="intro-text text-center">
                <h3 style="color: #fff;">You can compare and select from the list of experts </h3>
                <p style="color: #fff;">People forget how fast you did a job, but they remember how well
                  you did it. –Howard W. Newton</p>
                <a href="#" class="primary-button button-md"  style="font-size: 15px!important;background: #000000;">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid text-center client-logo">
   <div class="container client-container">
      <div class="row">
         <div class="section-heading center-holder mt">
            <h3>A Brand Trusted By</h3>
         </div>
         <ul class="client-logos">
            <li>
               <img src="https://www.caonweb.com/images/client/ALIBABA.jpg">
            </li>
            <li>
               <img src="https://www.caonweb.com/images/client/new.png">
            </li>
            <li>
               <img src="https://www.caonweb.com/images/client/PAYTM.jpg">
            </li>
            <li>
               <img src="https://www.caonweb.com/images/client/shoot.png">
            </li>
            <li>
               <img src="https://www.caonweb.com/images/client/adva.png">
            </li>
            <li>
               <img src="https://www.caonweb.com/images/client/mobi.png">
            </li>
         </ul>
      </div>
   </div>
</div>  
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


{% endblock  %}