{% extends 'basic.html' %}
{% load static %}
{% block title%}Another{% endblock title%}

{% block content %} 
<div class="banner">
      <div class="container">
        <div class="left-side-content">
          <h1>Book Appointment With Tax & Compliance Expert</h1>
          <p class="content">No geographical barriers to start & manage your business</p>


        </div>
      </div>
    </div>
    <section class="swipper">
      <div class=" container">
        <div class="row">
          <div class="col-md-3 col-12">
            <h3><a href="https://www.caonweb.com/directory/tax-filing-expert.html" target="_blank">Find Tax
                &
                Compliance
                Experts</a></h3>
          </div>
          <div class="col-md-3 col-12">
            <h3><a href="https://www.caonweb.com/directory/book-keeping-outsourcing.html" target="_blank">Find Book
                Keeping
                & Auditing Experts </a></h3>
          </div>
          <div class="col-md-3 col-12">
            <h3><a href="https://www.caonweb.com/directory/GST-Consulting.html" target="_blank"> Find GST
                Registration &
                Filing Experts</a></h3>
          </div>
          <div class="col-md-3 col-12">
            <h3><a href="https://www.caonweb.com/directory/CA-Certification.html" target="_blank">Find
                Licenses &
                Certifications Experts </a></h3>
          </div>
        </div>
      </div>
    </section>





















    <!-- <section class="top-hire first">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Find Tax &amp; Compliance Experts</a></h3>
                    </div>
                    <div class="col-md-3 my-border">
                        <h3>Find Book Keeping &amp; Auditing Experts </a></h3>
                    </div>
                    <div class="col-md-3 my-border-2">
                        <h3>Registration &amp; Filing Experts</a></h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Licenses &amp; Certifications Experts </a></h3>
                    </div>
                </div>
            </div>
        </section> -->
    <div class="section-heading center-holder mt">
      <h2>Online Directory of Tax/Compliance Experts
      </h2>
      <div class="section-heading-line"></div>
      <br>
    </div>
    <div class="container">
      <div class="row second">
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg1.png' %}" alt="">
            <h3>Tax Filing Expert</h3>
          </div>
        </div>
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg4.png' %}" alt="">
            <h3>GST Registration &amp; Filing</h3>
          </div>
        </div>
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg2.png' %}" alt="">
            <h3>Trademark Registration</h3>
          </div>

        </div>
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg3.png' %}" alt="">
            <h3>Book keeping &amp; Outsourcing</h3>
          </div>
        </div>
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg5.png' %}" alt="">
            <h3>Statutory &amp; Voluntary audits</h3>
          </div>

        </div>
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg6.png' %}" alt="">
            <h3>Company Formation &amp; Registration</h3>
          </div>

        </div>
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg7.png' %}" alt="">
            <h3>FDI Compliance</h3>
          </div>

        </div>
        <div class="col-md-3">
          <div class="area">
            <img src="{% static 'images/svg8.png' %}" alt="">
            <h3>Company Annual Filing</h3>
          </div>

        </div>
        <div class="col-md-12 mb-5" style="text-align: center;margin-top: 50px;">
          <a class="primary-button button-md" style="background: #e77b20;">See all category
          </a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="third">
      <div class="container">
        <div class="section-heading">
          <h2 class="pt-3">Online service marketplace</h2>
          <div class="section-heading-line"></div>
          <br>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="area">
              <img src="{% static 'images/svg9.svg' %}" style="max-width: 50px;" alt="">
              <h2>Expert Profiles</h2>
              <p>All the experts have a profile which is visible to the client, As a service receiver, you
                get to the location and the detailed.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="area">
              <img src="{% static 'images/svg10.png' %}" style="max-width: 50px;" alt="">
              <h2>Book Appointment</h2>
              <p>Contact a service provider on the basis of location or category of services. It’s quick
                and convenient.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="area">
              <img src="{% static 'images/svg11.svg' %}" style="max-width: 50px;" alt="">
              <h2>Informative blogs</h2>
              <p>We regularly update you with interesting, useful news, notification in Indian and Global
                economy.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="area">
              <img src="{% static 'images/svg12.svg' %}" style="max-width: 50px;" alt="">
              <h2>Secure Payment</h2>
              <p>This platform will also have an option of safe gateway payment as per your arrangement
                with client.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fourth">
      <div class="container">
        <div class="section-heading">
          <h2 class="pt-3">Online service marketplace</h2>
          <div class="section-heading-line"></div>
          <br>
        </div>
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="area">
                  <img src="{% static 'images/svg13.png' %}" alt="">
                  <h2>Convenience</h2>
                  <p>Having serve the clients since 2012, We understand your needs therefore we will
                    give you the best experience throughout</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="area">
                  <img src="{% static 'images/svg14.png' %}" alt="">
                  <h2>Support</h2>
                  <p>For both the service providers & service receivers, We are always available to
                    you through Chat, Email, Call or social media</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12 mobile-display-none">
            <img src="{% static 'images/gif1.gif' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-4 col-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="area">
                  <img src="{% static 'images/svg15.png' %}" alt="">
                  <h2>Experience</h2>
                  <p>This is our first priority as it means everything that any user want to have
                    while using online service facility.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="area">
                  <img src="{% static 'images/svg16.png' %}" alt="">
                  <h2>Safety</h2>
                  <p>Poor safety will lead to losing people, we very well understand this fact. Should
                    there be NDA? Anytime!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fifth">
      <section class="intro-area bg-gray" style="background: #e77b20;">
        <div class="">
          <div class="row">
            <div class="col-xl-12">
              <div class="intro-text text-center">
                <h3 style="color: #fff;">You can compare and select from the list of experts </h3>
                <p style="color: #fff;">People forget how fast you did a job, but they remember how well
                  you did it. –Howard W. Newton</p>
                <a href="#" class="primary-button button-md" style="background: #3c611a;">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid text-center client-logo">
      <div class="container client-container">
        <div class="row">
          <div class="section-heading center-holder mt">
            <h3>A Brand Trusted By</h3>
          </div>
          <ul class="client-logos">
            <li>
              <img src="https://www.caonweb.com/images/client/ALIBABA.jpg">
            </li>
            <li>
              <img src="https://www.caonweb.com/images/client/new.png">
            </li>
            <li>
              <img src="https://www.caonweb.com/images/client/PAYTM.jpg">
            </li>
            <li>
              <img src="https://www.caonweb.com/images/client/shoot.png">
            </li>
            <li>
              <img src="https://www.caonweb.com/images/client/adva.png">
            </li>
            <li>
              <img src="https://www.caonweb.com/images/client/mobi.png">
            </li>
          </ul>
        </div>
      </div>
    </div>
{% endblock content%}