{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock title %}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- costom css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="index-page">
    <div class="chatbox">
      <div class="button" onclick="show()">
        <button class="online">Online</button>
      </div>
      <div class="panel">
        <div class="top">
          <div class="close-menu">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="form">
          <h6 class="text-center">
            Fill This to Start Chatting
          </h6>
          <form action="">
            <input type="text" name="" required placeholder="Name" >
            <input type="email" name=""  required placeholder="Email">
            <input type="number" name=""  required placeholder="Mobile">
            <button type="submit">Start Chatting</button>
          </form>
        </div>
      </div>
      <script>
        function show() {
          $('.chatbox').addClass('active');
        }
        $('.close-menu').click(() => {
          $('.chatbox').removeClass('active');
        });
      </script>
    </div>
    <header>
      <div class="top-nav">
        <div class="call"> Services <i class="fa fa-angle-down" aria-hidden="true"></i></div>
        <div class="call">sales: +91- 958-483-9976<i class="fa fa-angle-down" aria-hidden="true"></i></div>
        <div class="right">
          <ul>
            <li><a href="{% url 'memberlogin' %}" style="--color:#f0ad4e">Login</a></li>
            <li><a href="{% url 'membersignup' %}" style="--color:#71d109">Signup</a></li>
            <li><a href="#" style="--color:#4cae4c">Whatsapp</a></li>
            <li><a href="#" style="--color:#01b4f1">Payment</a></li>
          </ul>
        </div>
      </div>
      <div class="nav-bar">
        <div class="logo">
          <img src="{% static 'images/logo.jpeg' %}" alt="">
        </div>
        <nav>
          <ul>
            <li><a href="#">Registration</a>
              <ul class="xl-sub-menu">
                <div class="row">
                  <div class="col-lg-3">
                    <span class="xl-sub-menu-title">Companies Registration</span>
                    <li><a href="pvt-ltd-reg.html">OPC Pvt Ltd Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Private Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">LLP(Limited Liability Partnership)</a></li>
                    <li><a href="pvt-ltd-reg.html">Public Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Producer Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Partnership Firm</a></li>
                    <li><a href="pvt-ltd-reg.html">Sole Proprietorship</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration </a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In USA</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In UK</a></li>
                  </div>
                  <div class="col-lg-3">
                    <span class="xl-sub-menu-title">Companies Registration</span>
                    <li><a href="pvt-ltd-reg.html">OPC Pvt Ltd Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Private Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">LLP(Limited Liability Partnership)</a></li>
                    <li><a href="pvt-ltd-reg.html">Public Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Producer Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Partnership Firm</a></li>
                    <li><a href="pvt-ltd-reg.html">Sole Proprietorship</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration </a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In USA</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In UK</a></li>
                  </div>
                  <div class="col-lg-3">
                    <span class="xl-sub-menu-title">Companies Registration</span>
                    <li><a href="pvt-ltd-reg.html">OPC Pvt Ltd Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Private Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">LLP(Limited Liability Partnership)</a></li>
                    <li><a href="pvt-ltd-reg.html">Public Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Producer Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Partnership Firm</a></li>
                    <li><a href="pvt-ltd-reg.html">Sole Proprietorship</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration </a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In USA</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In UK</a></li>
                  </div>
                  <div class="col-lg-3">
                    <span class="xl-sub-menu-title">Companies Registration</span>
                    <li><a href="pvt-ltd-reg.html">OPC Pvt Ltd Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Private Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">LLP(Limited Liability Partnership)</a></li>
                    <li><a href="pvt-ltd-reg.html">Public Limited Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Producer Company</a></li>
                    <li><a href="pvt-ltd-reg.html">Partnership Firm</a></li>
                    <li><a href="pvt-ltd-reg.html">Sole Proprietorship</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration </a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In USA</a></li>
                    <li><a href="pvt-ltd-reg.html">Company Registration In UK</a></li>
                  </div>
                </div>
              </ul>
            </li>
            <li><a href="#">Tax Filing</a>
              <ul class="drop-down">
                <li><a href="#">LLP Annual Filling</a></li>
                <li><a href="#">Business Tax Return Filling</a></li>
                <li><a href="#">TDS Return Filling</a></li>
                <li><a href="{% url 'pvtltdreg' %}">Income Tax Return</a></li>
                <!-- <li><a href="#">GST Return Filling</a></li>
                <li><a href="#">ESI Return Filling</a></li> -->
              </ul>
            </li>
            <li><a href="#">compliance</a>
              <ul class="drop-down">
                <li><a href="{% url 'pvtltdreg' %}">LLP Annual Filling</a></li>
                <li><a href="{% url 'pvtltdreg' %}">Business Tax Return Filling</a></li>
                <li><a href="{% url 'pvtltdreg' %}">TDS Return Filling</a></li>
                <li><a href="{% url 'pvtltdreg' %}">Income Tax Return</a></li>
              </ul>
              <!-- <ul class="sub-sub-down">
                <li><a href="#">GST Return Filling</a>
                  <ul class="sub-menu">
                    <li><a href="#">Business Tax illing</a></li>
                    <li><a href="#">TDS Return Filling</a></li>
                    <li><a href="#">LLP Annual Filling</a></li>
                    <li><a href="#">ESI Return Filling</a></li>
                    <li><a href="#">Income Tax Return</a></li>
                  </ul>
                </li>
                <li><a href="#">Business Tax illing</a>
                  <ul class="sub-menu">
                    <li><a href="#">Business Tax illing</a></li>
                    <li><a href="#">TDS Return Filling</a></li>
                    <li><a href="#">LLP Annual Filling</a></li>
                    <li><a href="#">ESI Return Filling</a></li>
                    <li><a href="#">Income Tax Return</a></li>
                  </ul>
                </li>
                <li><a href="#">TDS Return Filling</a>
                  <ul class="sub-menu">
                    <li><a href="#">Business Tax illing</a></li>
                    <li><a href="#">TDS Return Filling</a></li>
                    <li><a href="#">LLP Annual Filling</a></li>
                    <li><a href="#">ESI Return Filling</a></li>
                    <li><a href="#">Income Tax Return</a></li>
                  </ul>
                </li>
                <li><a href="#">LLP Annual Filling</a>
                  <ul class="sub-menu">
                    <li><a href="#">Business Tax illing</a></li>
                    <li><a href="#">TDS Return Filling</a></li>
                    <li><a href="#">LLP Annual Filling</a></li>
                    <li><a href="#">ESI Return Filling</a></li>
                    <li><a href="#">Income Tax Return</a></li>
                  </ul>
                </li>
                <li><a href="#">ESI Return Filling</a>
                  <ul class="sub-menu">
                    <li><a href="#">Business Tax illing</a></li>
                    <li><a href="#">TDS Return Filling</a></li>
                    <li><a href="#">LLP Annual Filling</a></li>
                    <li><a href="#">ESI Return Filling</a></li>
                    <li><a href="#">Income Tax Return</a></li>
                  </ul>
                </li>
                <li><a href="#">Income Tax Return</a>
                  <ul class="sub-menu">
                    <li><a href="#">Business Tax illing</a></li>
                    <li><a href="#">TDS Return Filling</a></li>
                    <li><a href="#">LLP Annual Filling</a></li>
                    <li><a href="#">ESI Return Filling</a></li>
                    <li><a href="#">Income Tax Return</a></li>
                  </ul>
                </li>
              </ul> -->
            </li>
            <li><a href="#">Certification</a>
              <ul class="drop-down">
                <li><a href="#">KOSHER CERTIFICATION</a></li>
                <li><a href="#">E-WASTE CERTIFICATION</a></li>
                <li><a href="#">FREE SALE CERTIFICATE</a></li>
                <li><a href="#">SA 800 CERTIFICATION</a></li>
                <li><a href="#">SALARY CERTIFICATE FORMAT</a></li>
                <li><a href="#">RELIEVING LETTER FORMAT</a></li>
                <!-- <li><a href="#">GST Return Filling</a></li>
                <li><a href="#">Business Tax illing</a></li>
                <li><a href="#">TDS Return Filling</a></li>
                <li><a href="#">LLP Annual Filling</a></li>
                <li><a href="#">ESI Return Filling</a></li>
                <li><a href="#">Income Tax Return</a></li> -->
              </ul>
            </li>
            <li><a href="#">Ipr</a>
              <ul class="drop-down">
                <li><a href="#">TRADEMARK REGISTRATION</a></li>
                <li><a href="#">COPYRIGHT REGISTRATION</a></li>
                <li><a href="#">PATENT REGISTRATION</a></li>
                <li><a href="#">DESIGN REGISTRATION</a></li>
                <li><a href="#">ESI RETURN FILING</a></li>
                <li><a href="#">INCOME TAX RETURN</a></li>
                <!-- <li><a href="#">GST Return Filling</a></li>
                <li><a href="#">Business Tax illing</a></li>
                <li><a href="#">TDS Return Filling</a></li>
                <li><a href="#">LLP Annual Filling</a></li>
                <li><a href="#">ESI Return Filling</a></li>
                <li><a href="#">Income Tax Return</a></li> -->
              </ul>
            </li>
            <li><a href="#">service</a>
              <ul class="drop-down">
                <li><a href="{% url 'another' %}">Another</a></li>
                <li><a href="{% url 'blogpage' %}">Blogpage</a></li>
                <li><a href="{% url 'newsfeed' %}">Newsfeed</a></li>
                <li><a href="{% url 'incometaxfilling' %}">Income Tax Return</a></li>
              </ul>
            </li>
            <li><a href="{% url 'blog' %}">blog</a>
            </li>
            <li><a href="{% url 'about' %}">About Us</a>
            </li>
          </ul>
        </nav>
        <div class="toggle-menu">
          <div class="fa fa-bars"></div>
        </div>
        <div class="bottom-nav">
          <div class="right">
            <ul>
              <li><a href="member-login.html" style="--color:#f0ad4e">Login</a></li>
              <li><a href="member-signup.html" style="--color:#71d109">Signup</a></li>
              <li><a href="#" style="--color:#4cae4c">Whatsapp</a></li>
              <li><a href="#" style="--color:#01b4f1">Payment</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    {% block content %} {% endblock content%}





 <footer>
      <div class="footer-wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="footer-heading">Useful Links</div>
              <ul class="footer-nav">
                <li><a href="#">E-filing portal of Income Tax dept.</a></li>
                <li><a href="#">GST portal</a></li>
                <li><a href="#">E-way bill</a></li>
                <li><a href="#"> CBIC</a></li>
                <li><a href="#">Direct tax payment portal</a></li>
                <li><a href="#"> MCA portal</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6 middle">
              <div class="footer-heading">Quick Links</div>
              <ul class="footer-nav">
                <li><a href="#">Corporate Services</a></li>
                <li> <a href="#">Audit</a></li>
                <li><a href="#">Corporate Finance</a></li>
                <li><a href="#">Services for Non-Residents</a></li>
                <li><a href="#">Accounting Services</a></li>
                <li><a href="#">Business Process Outsourcing</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="footer-heading">Connect With Us</div>
              <ul class="call-ad">
                <li>
                  <div><i class="fa fa-map-marker"></i><span>407,
                      Sai Kesava Towers Shilpa Park Kondapur,
                      HITEC City, Hyderabad,
                      Telangana 500084</span></div>
                </li>
                <li>
                  <div><i class="fa fa-phone"></i><span>+91- 958-483-9976</span></div>
                </li>

                <li>
                  <div><i class="fa fa-envelope-o"></i><span>sales@cyberflax.com</span></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-service">
            <div class="copyright">© 2021 Cyberflax PVT. LTD &amp; . All Rights Reserved</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    $('.parent').slick({
      dots: false,
      arrows: true,
      infinite: true,
      autoplay: true,
      speed: 2000,
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: false,
            arrows: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  </script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>