{% extends 'basic.html' %}
{% load static %}
{% block content %}
<style>

#servicesblock{-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    direction: ltr;
    user-select: none;
    color: #444;
    font-size: 14px!important;
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    line-height: 22px;
    font-weight: 400!important;
    outline: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;}
  #servicesblock a {
    -webkit-transition: background .1s;
    -moz-transition: background .1s;
    transition: background .1s;
    border-bottom: 1px solid #ededde;
    padding: 8px 0 8px 18px;
    display: block;
    color: #666;
    font-size: .9em;
    line-height: 20px;
}
p{
  font-size: 15px!important;
}

h1{
  font-size: 25px!important;
}
li span{
  font-size: 15px!important;
}

li{
  font-size: 15px!important;
}

span{
  font-family: var(--bs-body-font-family)!important;
  font-size: 14px!important;
}

#txt{
  font-size: 14px!important;
}
h3{
  font-size: 16px!important;
}
span u{
  font-size: 15px!important;
}
p span{
  font-size: 15px!important;
}

#blg span{
  font-size: 15px!important;
}

#blg u{
  font-size: 15px!important;
}

#cont div{
  font-size: 15px!important;
}
#cont strong{
  font-size: 16px!important;
}
#cont p{
  font-size: 15px!important;
}

strong a{
font-size: 15px;}
    
</style>
<link rel="stylesheet" href="{% static 'assets/css/skins/skin-corporate-3.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/theme-elements.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
<section class="page-header custom-product p-4 shadow-lg p-3 mb-5  rounded" style='background:#e77b20'>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumb" style='background:#e77b20' id='blg'>
          <li><a href="{% url 'index' %}" style="color: white;text-decoration:nono;"><span><u>Home /&nbsp;
                </u></span></a></li>
          <li><a href="{% url 'blog' slug=type %}" style="color: white; text-decoration:nono;"><span><u>{{type|title}} /&nbsp;
                </u></span></a></li>
          <li><span style="color:#fff;">{{blogob.title}}</span></li>
        </ul>
        <h1 class="mb-none mt-0 text-light">{{blogob.title}}</h1>
        <br>
        <span class="blog-meta-header pl-0 text-light"><i class="fa fa-user"></i> Vidit Agarwal &nbsp; <i
            class="fa fa-calendar"></i> Published on {{blogob.date|date}} &nbsp; <i class="fa fa-tag"></i> <a
            href="{{blogob.content_object.getabsoluteurl}}" id='txt' class='text-light'>{{blogob.content_object.submenu}}</a> &nbsp;</span>



        <span class="pull-right" style="color:#fff;">Last Updated on {{blogob.last_update|date}}&nbsp;&nbsp;&nbsp;{{blogob.last_update|time|title}}
          IST | <i class="fa fa-clock-o" aria-hidden="true"></i> 4 min read</span>
      </div>


    </div>
  </div>
</section>
<div class="container my-4">
  <div class="row">
    <div class="col-sm-8 ">
  <section class="call-to-action featured free-consultbg consult-mt0 featured-primary mb-xl">
        <div class="call-to-action-content cllaction-cont" id='cont'>
          <div class="free-consult-head">Free <strong>Consultation</strong></div>
          <p>Any Questions? Request a callback from our Tax Experts.</p>
        </div>
        <div class="call-to-action-btn">
          <a class="btn btn btn-primary lightbox-92160973430455" style="background-color:#e77b20; font-size: 15px!important;" onclick="show()">
            Let's Talk
          </a>
        </div>
      </section>

      <div class="blog-posts single-post">
        <article class="post post-large blog-single-post">
          <div class="post-content">
            <p>{{blogob.Short_des}}</p>

            <p><img alt="Concept of LLP" class="img-responsive mb-20" src="{{blogob.img.url}}" style="width:100%"></p>

            {{blogob.content|safe}}

            <div class="post-block">
              <div class="row">
                <div class="col-md-6">
                {% if prevblog %}
                  <h3 style="text-align:left;">
                    <a href="{{prevblog.getabsoluteurl}}" class="btn btn-primary text-light" style="background-color:#e77b20;font-size: 15px!important;" ><i class="fa fa-chevron-left"></i> Previous Post </a>
                  </h3>
                  {% else %}
                   <h3 style="text-align:left;">
                    <a href="" class="btn btn-primary disabled text-light" style="background-color:#e77b20;font-size: 15px!important;" disabled><i class="fa fa-chevron-left"></i> Previous Post </a>
                  </h3>
                  {% endif %}
                </div>
                <div class="col-md-6">
                {% if nextblog %}
                 <h3 style="text-align:right; "><a href="{{nextblog.getabsoluteurl}}" class="btn btn-primary text-light" style="background-color:#e77b20"> Next Post <i
                  class="fa fa-chevron-right"></i></a></h3>
                 {% else %}
                 <h3 style="text-align:right; "><a href="" class="btn btn-primary disabled text-light" style="background-color:#e77b20" disabled> Next Post <i
                  class="fa fa-chevron-right"></i></a></h3>
                  {% endif %}
                </div>
              </div>
            </div>
        </article>
      </div>
    </div>
    <div class="col-sm-3 ">


      <div class="side-related-post">

        <h4><strong>Recent Post</strong></h4>
        {% for data in recentblog %}
        {% if blogob.id != data.id %}
        <div class="pkb-recomandation">
          <strong>
            <a href="{{data.getabsoluteurl}}"><i class="fa fa-hand-o-right"></i>
              {{data.title}}</a> 
          </strong>
          <a href="{{data.getabsoluteurl}}">
            <img class="img-responsive" src="{{data.img.url}}" alt="{{data.title}}" width='100%'>
          </a>
          <hr>
        </div>
        {% endif %}
        {% endfor %}
        <h4>Services</h4>
        <ul class="nav nav-list primary push-bottom" id="servicesblock" style="display:block;">
          {% for d in Registrations.0.RegistrationSubMenu.all|slice:":6" %}
          <li><a href="{% url 'registration' slug1=d.title.slug slug2=d.slug %}"><i class="fa fa-hand-o-right" aria-hidden="true"></i> {{d.submenu}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
</div>
  {% endblock %}