{% extends 'basic.html' %}
{% load static %}
{% load customfilter %}
{% block title%}contact{% endblock title%}
{% block content %}


{% with ""|contact as contact %}
{% with contact.0 as contact %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
    .form-control {
        background: #fff;
        border: 1px solid #999999;
        border-radius: 0;
        height: 44px;
        margin: 10px 0px;
        width: 90%!important;
    }

    .btn-send {
        color: #fff;
        background: #e77b20;
        font-size: 16px;
        padding-left: 40px;
        padding-right: 40px;
        border: 1px solid #e77b20;
        height: 44px;
        cursor: pointer;
        font-weight: 900;
        border-radius: 0;
        transition: 0.4s;
    }
    #color{
        color: #e77b20;
    }

    #tit {
        font-size: 30px !important;
        text-align: center;
    }

    #design {
        list-style: none !important;
    }

    i {
        size: 50px !important;
    }

    h2 {
        font-size: 23px !important;
    }
    h4 {
        font-size: 20px !important;
    }
    .content {
        font-size: 17px !important;
    }

    .page {
        background-color: whitesmoke !important;
    }

    p {
        font-size: 15px !important;
    }

    p span {
        font-size: 17px !important;
    }

    p big span {
        font-size: 15px !important;
    }

    .banner {
        background-image: url(/media/banner/cont.jpg) !important;
    }


    iframe {

        top: 0;
        left: 0;
        width: 100% !important;
        height: 80% !important;
    }

    .login-form {
        margin-bottom: 60px !important;
    }

    #cnt {
        line-height: 35px !important;
        padding-left: 0px !important;
    }
</style>
<div class="page">
    <div class="banner">
        <div class="container">
            <div>
                <h1 id='tit'>Contact Us</h1>

            </div>
        </div>
    </div>



    <div id='cont' class="container">
        <div class="form_align">
            <div class="login-form mb-60px">
                <div class="panel" style="text-align: center; margin-top: 50px; margin-bottom: 40px;">

                    <h2 style="font-size: 24px !important;">Contact Us</h2>
                    <div class="section-heading-line"
                        style="border-radius: 50%!important;position:static!important;margin-left: 50%!important;">
                    </div><br>


                </div>
                <div class="contact-area ptb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="contact-info">

                                    <h2 style="margin-bottom: 15px;">Get in Touch</h2>
                                    <p>Kirnaz is an IT enabled organization, which aim to provide all services online or in person, We have a team of experience professionals which are consist of CA, CS, Lawyers, MBAs which are providing experts services in their field, Fastest services is our strength, you do not have to wait for deliverables for too long.</p><br>
                                    <ul id="cnt">
                                        <li id="'design">

                                            <h4><i class="fa fa-map-marker"></i> Our Address </h4>
                                            <p >{{contact.address}}

                                            </p>
                                        </li>
                                        <li id="'design">

                                            <h4><i class="fa fa-envelope"></i> E-mail </h4>
                                            <p>Mail: <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" id='color'>
                                                        {{contact.email}}</a>
                                            </p>

                                        </li>
                                        <li id="design">

                                            <h4> <i class="fa fa-phone"></i> Contact</h4>
                                            <p>Mobile : <a href="tel:+ {{contact.otherPhones}}"  id='color'>
                                                {{contact.otherPhones}}

                                                </a>
                                                
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <h2 style="margin-bottom: 10px;">Ready to Get Started?</h2>
                                If You Have Any Query Fill Below Form We Will contact Soon.
                                <form action="{% url 'index' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
            <input name="name" type="text"  class="form-control" placeholder="Your Name" required>
              <input type="email" name="email" value="" required class="form-control" placeholder="Your email address" />
                 <input type="number" maxlength="10" minlength="10" name="phone" value="" required class="form-control" placeholder="Phone number" />
                <textarea name="message" cols="40" rows="5" required class="form-control" placeholder="Write your message..."></textarea>
                                        <div class="col-lg-12 col-md-12">
                                            <span class="wpcf7-form-control-wrap gdpr"><span
                                                    class="wpcf7-form-control wpcf7-acceptance"><span
                                                        class="wpcf7-list-item"><label><input type="checkbox"
                                                                name="gdpr" required value="1" aria-invalid="false"
                                                                class="gdpr-term" /><span class="wpcf7-list-item-label">
                                                                &nbsp; Accept
                                                                <a href="#" id='color'>terms</a>
                                                                and <a href="#" id='color'>privacy
                                                                    policy</a>.</span></label></span></span></span>
                                        </div>

                                        <div class="col-lg-12 col-md-12">

                                            <button type="submit" class="btn btn-send" style="color: white;" id="login">Send Message</button>

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <section>
        <div class="container-fluid " id='map' style="height: 450px!important;">


            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.7737803469836!2d77.29148961455904!3d28.606562592007812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce49894fe9b03%3A0x767aa5f619f67342!2s3rd%20St%2C%20Pocket%205%2C%20Pratap%20Nagar%2C%20Mayur%20Vihar%2C%20New%20Delhi%2C%20Delhi%20110091!5e0!3m2!1sen!2sin!4v1644220911516!5m2!1sen!2sin"
                width="600" height="750" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

</html>
{% endwith %}{% endwith %}

{% endblock %}