{% extends 'basic.html' %}
{% block meta %}
<meta name="title" content="Kiraaz">
<meta name="description" content="Kirnaaz, an IT enabled organization, is a one stop solution for all your finance, taxation, legal, auditing and accounts related worries. We are a team of experienced professionals i.e. CAs, CSs, Lawyers and MBAs who provide services in their respective fields and in the best manner so that you can solely focus on growth of your entity by transferring the burden of your finances, accounts and other ancillary compliances on us. Kirnaaz guarantees you to provide the fastest, reliable and reasonable services on your screens. Your confidentiality is our responsibility. ">
<meta name="keywords" content="income tax,quickbooks,account,cpa,tax,accountant,cma,audit,tax return,payroll,cga,bookkeeping,chartered accountant,auditor,accountant salary,accounts payable,accounting software,financial accounting,corporation tax,the acountant,what is accounting,management accounting,cost accounting,tax preparation">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="">

{% endblock %}
{% load static %}
{% block title%}Home{% endblock title%}
{% load customfilter%}
{% block content %}
{% with ''|contact as contact %}
<!-- carasoul -->
<style>
  div.box-icon img {
    -webkit-filter: invert(100%) !important;
    height: 70px !important;
  }
  .card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 170px !important;
    object-fit: cover !important;
}
</style>

<style>
   ul li a{
    font-size: 14px!important;
  }
  .card-text{
    font-size: 15px!important;
  } 
   p{
    font-size: 15px!important;
  } 
  h6 a{
    font-size: 15px!important;
  } 
  h1{
    font-size: 25px!important;
  } 
  h3{
    font-size: 17px!important;
  } 
  h2{
    font-size: 20px!important;
  } 
  h2 span{
    font-size: 20px!important;
  } 
   #date{
    font-size: 12px!important;
  }
</style>
<style>
  .contentnav {
      display: -webkit-box;
      overflow-x: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
      /* overflow-x: hidden; */
  }

  #navigation {
      transition: display 1s;
  }

  @media only screen and (max-width: 600px) {
      .contentnav {
          display: -webkit-box;
          overflow-x: auto;
          width: 100%;
          justify-content: space-around;
          /* overflow-x: hidden; */
      }
  }

  .contentnav::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
  }

  #right-button,
  #left-button {
      cursor: pointer;
  }

  .card-img,
  .card-img-top {
      border-top-left-radius: calc(.25rem - 1px);
      border-top-right-radius: calc(.25rem - 1px);
      height: 129px !important;
      object-fit: cover !important;
  }
</style>
<section class="banner-sec">
  <div class="container">
    <div class="parent">
      {% for s in slider %}
      <div class="container">
        <div class="row slide">
          <div class=" col-lg-6 slide_center"><img class="d-block" src="/media/{{s.img}}" alt="First slide">
          </div>
          <div class=" col-lg-6">
            <h1 class="objective animate0">{{s.objective}}</h1>
            <p class="objective_para">{{s.obj_details}}</p>
            <a href="#" onclick="show()" style="font-size: 14px!important;" class="btn btn-theme">Contact Us</a>
          </div>
        </div>
      </div>
      {% comment %}
      <div class="container">
        <div class="row slide">
          <div class=" col-lg-5 slide_center"><img class="d-block animate0" src="{% static 'images/slide-3.png' %}"
              alt="First slide"></div>
          <div class=" col-lg-7">
            <h1 class="objective">Our Objective</h1>
            <p class="objective_para">Seeing invisible, achieving impossible. Our vision is to raise benchmarks with
              every
              assignment by imparting knowledge
              with a goal to provide timely deliverable which makes us victorious in achieving client’s satisfaction
              adding to CA,
              CS
              & LAWYERS glory as a professional firm.</p>
            <a href="#" class="btn btn-theme">Our Team</a> <a href="#" class="btn btn-theme">Contact Us</a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row slide">
          <div class=" col-lg-5 slide_center"><img class="d-block animate0" src="{% static 'images/slide-4.png' %}"
              alt="First slide"></div>
          <div class=" col-lg-7">
            <h1 class="objective animate__animated animate__bounce">Our Mission</h1>
            <p class="objective_para">Let ideas transform into innovation”. Our mission is to provide comprehensive
              professional services which clients refer
              to their associates, employees boast upon, competitors acknowledge and set as standards for
              themselves.</p>
            <a href="#" class="btn btn-theme">Our Team</a> <a href="#" class="btn btn-theme">Contact Us</a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row slide">
          <div class=" col-lg-5 slide_center"><img class="d-block animate0" src="{% static 'images/slide-5.png' %}"
              alt="First slide"></div>
          <div class=" col-lg-7">
            <h1 class="objective animate__animated animate__bounce">Our Vision</h1>
            <p class="objective_para">Seeing invisible, achieving impossible. Our vision is to raise benchmarks with
              every assignment by imparting knowledge
              with a goal to provide timely deliverable which makes us victorious in achieving client’s satisfaction
              adding to CA, CS
              & LAWYERS glory as a professional firm.</p>
            <a href="#" class="btn btn-theme">Our Team</a> <a href="#" class="btn btn-theme">Contact Us</a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row slide">
          <div class=" col-lg-5 slide_center"><img class="d-block animate0" src="{% static 'images/slide-6.png' %}"
              alt="First slide"></div>
          <div class=" col-lg-7">
            <h1 class="objective animate__animated animate__bounce">Excellence in Service</h1>
            <p class="objective_para">To not just meet but exceed client expectation consistently by imbibing
              Teamwork, Professionalism, Personalised Service & Specialisation.</p>
            <a href="#" class="btn btn-theme">Our Team</a> <a href="#" class="btn btn-theme">Contact Us</a>
          </div>
        </div>
      </div> {% endcomment %}
      {% endfor %}

    </div>
  </div>

</section>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body second hm-query-sec pt-5">
          <button type="button" id="popup-close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <div class="container">
              <div class="row">
                <div class="col-md-12 ordering">
                  <form action="" method="POST">
                    {% csrf_token %}
                    <h2>Business Query <div class=""></div>
                    </h2>
                    <p>Always ready to help you out regarding all your queries.</p>
                    <div class="group-query">
                      <input name="name" type="text" id="ctl00_txtname" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="group-query">
                      <input name="phone" type="text" id="ctl00_txtcontact" class="form-control" placeholder="Phone" required>
                    </div>
                    <div class="group-query">
                      <input name="email" type="email" id="ctl00_txtmail" class="form-control" placeholder="Your Email"
                        required>
                    </div>
                    <div class="group-query">
                      <textarea name="message" type="text" rows="2" cols="20" id="ctl00_txtremark" class="form-control"
                        placeholder="Your Message" required></textarea>
                    </div>
                    <div class="group-query">
                      <input type="submit" name="ctl00$btnsubmit" style="font-size: 17px!important;" value="Send" id="ctl00_btnsubmit" class="btn btn-send">
                    </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var currentDateObj = new Date();
        console.log(Date.parse(localStorage.getItem('showtime')) ,currentDateObj.getTime());
    if(localStorage.getItem('popState') != 'shown' || Date.parse(localStorage.getItem('showtime'))<currentDateObj.getTime()){
        setTimeout(() => {
          $('#exampleModal').modal('show')
        },);
        var numberOfMlSeconds = currentDateObj.getTime();
        var addMlSeconds = 30 *60 * 1000;
        var newDateObj = new Date(numberOfMlSeconds + addMlSeconds);
        localStorage.setItem('popState','shown')
        localStorage.setItem('showtime',newDateObj)
    }
    $('#popup-close, #popup').click(function(e) // You are clicking the close button
    {
        $('#exampleModal').modal('hide'); // Now the pop up is hiden.
    });
});
</script>
<div class="second ">
  <section class="hm-query-sec pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ordering">
          <form action="" method="POST">
            {% csrf_token %}
            <h2>Business Query <div class=""></div>
            </h2>
            <p>Always ready to help you out regarding all your queries.</p>
            <div class="group-query">
              <input name="name" type="text" id="ctl00_txtname" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="group-query">
              <input name="phone" type="text" id="ctl00_txtcontact" class="form-control" placeholder="Phone" required>
            </div>
            <div class="group-query">
              <input name="email" type="email" id="ctl00_txtmail" class="form-control" placeholder="Your Email"
                required>
            </div>
            <div class="group-query">
              <textarea name="message" type="text" rows="2" cols="20" id="ctl00_txtremark" class="form-control"
                placeholder="Your Message" required></textarea>
            </div>
            <div class="group-query">
              <input type="submit" name="ctl00$btnsubmit" style="font-size: 17px!important;" value="Send" id="ctl00_btnsubmit" class="btn btn-send">
            </div>
          </form>
        </div>
        <div class="col-md-6 query-image"> <img alt="banner3" class="img-fluid" src="{% static 'images/query-b.png' %}">
        </div>
      </div>
    </div>
  </section>
</div>
{% if aboutca %}
<div class="first">
  <div class="container">
    <h1> {{aboutca.title|title}}
      <div class=""></div>
    </h1>
    {{aboutca.content|safe}}
    <a href="{% url 'about' %}" style="font-size: 15px!important;" >Read More <i class="fa fa-angle-double-right"></i></a>
  </div>
</div>
{% endif %}

<div class="comp-reg">
  <section class="required">
    <center>
      <h2 class="col-md-12"> Our Services</h2>
    </center>
    <div class="mx-lg-12 mx-3  justify-content-md-center" id="servicecontainer" >
      {% for data in Registrations %}
      <div class="card1 col-md-2 my-2 mx-2">
        <div class="card-body">
          <h6 class="card-price"><a href="" title="{{data.title}}" target="_blank"> {{data.title}}</a></h6>
          <ul class="cards">
            {% for d in data.RegistrationSubMenu.all|slice:"4" %}
            <li><a href="{% url 'registration' slug1=data.slug slug2=d.slug %}"><i class="fa fa-hand-o-right"></i>
                {{d.submenu}}</a></li>
            {% endfor %}
          </ul>
          <a href="{% url 'services' %}" title="How to register One Person Company?" style="font-size: 15px!important;" target="_blank" class="bt-1">View
            More...</a>
        </div>
      </div>
      {% endfor %}
      {% for data in othernavreg %}
      <div class="card1 col-md-2 my-2 mx-2">
        <div class="card-body">
          <h6 class="card-price"><a href="#" title="{{data.title}}" target="_blank"> {{data.title}}</a></h6>
          <ul class="cards ">
            {% for d in data.RegistrationSubMenu.all|slice:":4" %}
            <li><a href="{% url 'handlenav' slug1=data.slug slug2=d.slug %}" class=""><i class="fa fa-hand-o-right"></i>
                {{d.submenu}}</a></li>
            {% endfor %}
          </ul>
          <a href="{% url "services" %}" title="How to register One Person Company?" target="_blank"  style="font-size: 15px!important;" class="bt-1">View
            More...</a>
        </div>
      </div>
      {% endfor %}
      <!-- Plus Tier -->

    </div>
  </section>
</div>
<section class="news-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-4 spacing-column my-2">
        <div class="news-item-box">
          <h3>News</h3>
          <marquee id="m2" height="276" direction="up" srolldelay="30" scrollamount="2" onmouseover="this.stop();"
            onmouseout="this.start();">
            <table id="ctl00_DataList1" cellspacing="0" border="0" style="width:100%;border-collapse:collapse;">
              <tbody>
                {% for n in news %}
                {% comment %} <tr>
                  <td>
                    <div class="news2d"> <a class="hedingnews"><b>{{n.date|date}}</b></a> </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="news2d"> <a href="#">{{n.title}}</a> </div>
                  </td>
                </tr> {% endcomment %}
                <div class="news_blog"> <span class="hedingnews" id='date'>{{n.date|date}}</span> <span class="arrownews">
                    <strong><a href="{{n.getabsoluteurl}}">{{n.title}}</a></strong></span> <br>
                  <span>{{n.Short_des|slice:":100"}}...<a target="_blank" href="{{n.getabsoluteurl}}">more</a></span>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </marquee>
          <a href="{% url 'blog' 'News' %}" >Readmore...</a>
        </div>
      </div>

      <div class="col-md-4 spacing-column my-2">
        <div class="news-item-box">
          <h3>Due Date Reminder</h3>
          <table id="ctl00_DataListGovind" cellspacing="0" border="0" style="border-collapse:collapse;">
            <tbody>
              <tr>
                <td><a id="ctl00_DataListGovind_ctl00_lb1">Jan</a></td>
                <td><a id="ctl00_DataListGovind_ctl01_lb1">Feb</a></td>
                <td><a id="ctl00_DataListGovind_ctl02_lb1">Mar</a></td>
                <td><a id="ctl00_DataListGovind_ctl03_lb1">Apr</a></td>
                <td><a id="ctl00_DataListGovind_ctl04_lb1">May</a></td>
                <td><a id="ctl00_DataListGovind_ctl05_lb1">June</a></td>
              </tr>
              <tr>
                <td><a id="ctl00_DataListGovind_ctl06_lb1">July</a></td>
                <td><a id="ctl00_DataListGovind_ctl07_lb1">Aug</a></td>
                <td><a id="ctl00_DataListGovind_ctl08_lb1">Sep</a></td>
                <td><a id="ctl00_DataListGovind_ctl09_lb1">Oct</a></td>
                <td><a id="ctl00_DataListGovind_ctl10_lb1">Nov</a></td>
                <td><a id="ctl00_DataListGovind_ctl11_lb1">Dec</a></td>
              </tr>
              <tr>
                <td><a id="ctl00_DataListGovind_ctl12_lb1">All</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <marquee id="ml" height="216" direction="up" srolldelay="30" scrollamount="2" onmouseover="this.stop();"
            onmouseout="this.start();">
            {% for d in ddreminder %}
            <div class="news_blog"> <span class="hedingnews" id='date'>{{d.date}}</span> <span
                class="arrownews">{{d.details}}</span> <br>
            </div>
            {% endfor %}
          </marquee>
          <a href="#" class="due-red">Readmore...</a>
        </div>
      </div>
      <div class="col-md-4 my-2">
        <div class="news-item-box">
          <h3>Blog News</h3>
          <marquee id="m2" height="296" direction="up" scrolldelay="30" scrollamount="2" onmouseover="this.stop();"
            onmouseout="this.start();">
            {% for n in bnews %}
            <div class="news_blog"> <span class="hedingnews" id='date'>{{n.date|date}}</span> <span class="arrownews">
                <strong><a href="{{n.getabsoluteurl}}">{{n.title}}</a></strong></span> <br>
              <span>{{n.Short_des|slice:":100"}}...<a target="_blank" href="{{n.getabsoluteurl}}">more</a></span>
            </div>
            {% endfor %}
          </marquee>
          <a href="{% url 'blog' 'Blogs' %}">Readmore...</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="call-us-sec">
  <div class="container"> <a href="tel:01414072000">Have a question? We can help you..... {{contact.0.phone}}</a>
  </div>
</section>
{% comment %} {% if latestblog %}
<section class="home-middle-sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5"><img class="w-100" alt="image" src="/media/{{latestblog.image}}"></div>
      <div class="col-md-7">
        <h2>{{latestblog.title}}</h2>
        {{latestblog.content|safe}}
        <a href="#" class="btn-red">Read More <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>

  </div>
</section>
{% endif %} {% endcomment %}
<section class="hm-services-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12 hm-services-title">
        <h2>Our Services<span style="font-size: 20px !important;"> Offerings</span></h2>
      </div>
    </div>
    <section class="row">
      {% for reg in Registrations %}
      <div class="col-md-6 col-lg-3 height-fill">
        <article class="icon-box">
          <div class="box-top">
            <div class="box-icon"><img src="/media/{{reg.logo}}" alt="Start my Business"></div>
            <div class="box-header">
              <h5><a href="{% url "services" %}#{{reg.title|slugify}}" style="color:#000000" onMouseOver="this.style.color='#e77b20'"
                  onMouseOut="this.style.color='#000000'">{{reg.title}} </a></h5>
            </div>
          </div>
          <div class="box-body">
            <p class="text-gray-05">{{reg.info }}</p>
          </div>
        </article>
      </div>
      {% endfor %}
      {% for reg in othernavreg %}
      <div class="col-md-6 col-lg-3 height-fill">
        <article class="icon-box">
          <div class="box-top">
            <div class="box-icon"><img src="/media/{{reg.logo}}" alt="Start my Business"></div>
            <div class="box-header">
              <h5><a href="{% url "services" %}#{{reg.title|slugify}}" style="color:#000000" onMouseOver="this.style.color='#e77b20'"
                  onMouseOut="this.style.color='#000000'">{{reg.title}} </a></h5>
            </div>
          </div>
          <div class="box-body">
            <p class="text-gray-05">{{reg.info}}</p>
          </div>
        </article>
      </div>
      {% endfor %}




    </section>
</section>

{% if blogs %}
<center>
  <h2 class="heading-reg my-4 text-center text-bold my-2">Recent Blogs</h2>
</center>
<div class=" p-5 row justify-content-md-center">
  {% for data in blogs|slice:":4" %}
  <div class="col-md-3" style="display: inline-flex;">
    <div class="card shadow">
        <img class="card-img-top" src="{{data.img.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{data.title|slice:":35"}}</h5>
            <span class="badge badge-danger">{{data.date|date}}</span>
            <p class="card-text">{{data.Short_des|slice:":82"}}...</p>
            <div class="my-5"></div>
            <div class="my-5"></div>
            <a href="{{data.getabsoluteurl}}" class="btn btn-theme shadow-sm "
                style="position: absolute; bottom: 15px;">View more</a>
        </div>
    </div>
</div>
  {% endfor %}
</div>
{% endif %}
<!-- <section class=" client-says boldSection topSpaced bottomSpaced gutter inherit wBackground cover btBackgroundOverlay btSolidLightBackground"
style="background-image:url(https://www.finacbooks.com/assets/theme/images/bg/background_4.webp);">
<div class="container ">
<center>
    <div class="heading mx-5" style="padding:41px 0 0 0;">
        <h4 class="heading-reg my-4 text-center text-bold">What Clients Say</h4>
        <p class="heading-reg my-4 text-center text-bold">Customer delight is our main goal and we are very serious about it. </p>
        <hr>
        </h4>
    </div>
    </center>
    <div class="team row">
    {% for cli in client %}
        <div class="col-12 my-3 col-lg-4">
    <center>
            <div class="card p-5">
                <div class="img">
                    <img src="/media/{{cli.Profile}}" alt="">
                </div>
                <div class="text">
                    <h4>Pravin Chauhan</h4>
                    <p>
                    <div class="btSubTitle">{{cli.content}}</div>
                    </p>
                </div>
                <div class="sign"><img src="/media/{{cli.SignatureOptional}}" alt=""></div>
            </div>
        </center>
        </div>
    {% endfor %}
    </div>
  </div>
</section> -->
{% endwith %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const ele = document.getElementById('servicecontainer');
      ele.style.cursor = 'grab';

      let pos = { top: 0, left: 0, x: 0, y: 0 };

      const mouseDownHandler = function (e) {
          ele.style.cursor = 'grabbing';
          ele.style.userSelect = 'none';

          pos = {
              left: ele.scrollLeft,
              top: ele.scrollTop,
              // Get the current mouse position
              x: e.clientX,
              y: e.clientY,
          };

          document.addEventListener('mousemove', mouseMoveHandler);
          document.addEventListener('mouseup', mouseUpHandler);
      };

      const mouseMoveHandler = function (e) {
          // How far the mouse has been moved
          const dx = e.clientX - pos.x;
          const dy = e.clientY - pos.y;

          // Scroll the element
          ele.scrollTop = pos.top - dy;
          ele.scrollLeft = pos.left - dx;
      };

      const mouseUpHandler = function () {
          ele.style.cursor = 'grab';
          ele.style.removeProperty('user-select');

          document.removeEventListener('mousemove', mouseMoveHandler);
          document.removeEventListener('mouseup', mouseUpHandler);
      };

      // Attach the handler
      ele.addEventListener('mousedown', mouseDownHandler);
  });
</script>
{% endblock content%}