{% extends 'dbasic.html' %}
        <!-- sidebar menu area start -->
{% block body %}    
        
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        
            
                <div class="row">
                    <!-- seo fact area start -->
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-user-secret mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">1</h5>
                                            <small class="font-light">Total Admin</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-user mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">10</h5>
                                            <small class="font-light">Total User</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-blog mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">4</h5>
                                            <small class="font-light">Total Blogs</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-key mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">6</h5>
                                            <small class="font-light">Total Key Feature</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-comments mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">4</h5>
                                            <small class="font-light"><a class="text-light" href="{% url 'adminchat'  %}" >Chat</a></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-tags mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">0</h5>
                                            <small class="font-light">Total Products</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-shopping-cart mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">0</h5>
                                            <small class="font-light">Total Products Order</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-calendar-check mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">5</h5>
                                            <small class="font-light">Total Doctor Appointments</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5 mb-3">
                                <div class="card card-hover">
                                    <div class="dash-box text-white">
                                        <h1 class="dash-icon">
                                            <i class="fas fa-headset mb-1 font-16"></i>
                                        </h1>
                                        <div class="dash-content">
                                            <h5 class="mb-0 mt-1">7</h5>
                                            <small class="font-light">Total Services</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card margin-top-40">
                            <div class="smart-card">
                                <h4 class="title">Recent Product Order</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>Order ID</th>
                                            <th>Amount</th>
                                            <th>Payment Gateway</th>
                                            <th>Payment Status</th>
                                            <th>Date</th>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}